 <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-per">
        <div class="container-fluid container">
            <a class="navbar-brand text-white" href="#">Joguers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" <%= link_to "Mi Perfil", users_path %> > Mi perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Centros deportivo </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nueva Cancha</a>
                    </li>
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Zona de juego
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" <%= link_to "Nuevo Partido", new_post_path %>></a></li>
                            <li><a class="dropdown-item" <%= link_to "Partidos en tu zona", posts_path %>></a></li>
                            <li><a class="dropdown-item" href="#">Partidos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>