   <div id="carouselExampleIndicators" class="carousel slide container pt-5 d-none d-sm-block " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <Strong>Zona publicitaria</Strong>
        <div class="carousel-inner">
            <!-- primer item carrousel -->
            <div class="carousel-item active">
                <div class="card-group">
                    <div class="card mx-2">
                        <img src="https://img.freepik.com/foto-gratis/balon-futbol-linea-blanca-estadio_1150-5285.jpg?w=2000" class="card-img-top" alt="...">
                        
                    </div>
                    <div class="card mx-2">
                        <img src="https://img.freepik.com/foto-gratis/balon-futbol-linea-blanca-estadio_1150-5285.jpg?w=2000" class="card-img-top" alt="...">
                        
                    </div>
                    <div class="card mx-2">
                        <img src="https://img.freepik.com/foto-gratis/balon-futbol-linea-blanca-estadio_1150-5285.jpg?w=2000" class="card-img-top" alt="...">
                        
                    </div>
                </div>
            </div>
            <!-- segundo item -->
            <div class="carousel-item">
                <div class="card-group">
                    <div class="card mx-2">
                        <img src="https://img.freepik.com/foto-gratis/balon-futbol-linea-blanca-estadio_1150-5285.jpg?w=2000" class="card-img-top" alt="...">
                       
                    </div>
                    <div class="card mx-2">
                        <img src="https://img.freepik.com/foto-gratis/balon-futbol-linea-blanca-estadio_1150-5285.jpg?w=2000" class="card-img-top" alt="...">
                        
                    </div>
                    <div class="card mx-2">
                        <img src="https://img.freepik.com/foto-gratis/balon-futbol-linea-blanca-estadio_1150-5285.jpg?w=2000" class="card-img-top" alt="...">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>