<h1>Editing sport center</h1>

<%= render "form", sport_center: @sport_center %>

<br>

<div>
  <%= link_to "Show this sport center", @sport_center %> |
  <%= link_to "Back to sport centers", sport_centers_path %>
</div>
