<h1>Editing post evaluation</h1>

<%= render "form", post_evaluation: @post_evaluation %>

<br>

<div>
  <%= link_to "Show this post evaluation", @post_evaluation %> |
  <%= link_to "Back to post evaluations", post_evaluations_path %>
</div>
