<div id="<%= dom_id province %>">
  <p>
    <strong>Province name:</strong>
    <%= province.province_name %>
  </p>

  <p>
    <strong>Province code:</strong>
    <%= province.province_code %>
  </p>

</div>
