<div id="<%= dom_id communne %>">
  <p>
    <strong>Communne name:</strong>
    <%= communne.communne_name %>
  </p>

  <p>
    <strong>Communne code:</strong>
    <%= communne.communne_code %>
  </p>

</div>
