<div id="<%= dom_id user_evaluation %>">
  <p>
    <strong>Puntually:</strong>
    <%= user_evaluation.puntually %>
  </p>

  <p>
    <strong>Attendance:</strong>
    <%= user_evaluation.attendance %>
  </p>

  <p>
    <strong>Cooperation:</strong>
    <%= user_evaluation.cooperation %>
  </p>

</div>
